/* ListDisplay */
.ListDisplayListContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.ListDisplayListContainer.elementsDraggable .ListDisplayElement{
  -webkit-user-drag: element;
}
.ListDisplayElement {
  display: flex;
  position: relative;
  align-items: center;
  color: white;
  background-color: black;
  border: solid white 2px;
  border-radius: 10px;
  padding: 5px;
  transition: filter 0.3s, background-color 0.1s;
}
.ListDisplayElement:hover:not(:has(.hoveroutListDisplayElement:hover)),
.ListDisplayElement:active:not(:has(.hoveroutListDisplayElement:hover)) {
  filter: invert(100%);
}
.ListDisplayElement:active:not(:has(.hoveroutListDisplayElement:hover)) {
  background-color: rgb(30, 30, 30);
}

/* FolderDisplay */
.FolderDisplayIcon {
  display: inline-block;
  height: 100%;
  width: auto;
  margin-right: 10px;
  margin-left: 5px;
  filter: invert(100%);
}

.FolderDisplayName {
  display: inline-block;
}

/* FileDisplay */
.FileDisplay {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}

.FileDisplayInput {
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.FileDisplayLabel {
  border-bottom: solid black 2px;
  margin-bottom: 10px;
}

.FileDisplayMiniInput {
  display: inline-block;
}

/** DirectoryDisplay */

.directoryDisplayElementMenu:hover {
  filter: invert(100%);
}