:root {
  --headerHeight: 45px;
  --menuWidth: 60px;
  --viewPortPadding: 10px;
}

body {
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
*::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

#header {
  display: flex;
  height: var(--headerHeight);
  background-color: lightgray;
  align-items: center;
}

#leftMenu {
  display: inline-block;
  height: calc(100vh - var(--headerHeight));
  background-color: white;
  transition: width 0.5s;
  line-height: 10px;
}
#leftMenu.close {
  width: 0;
}
#leftMenu.open {
  width: var(--menuWidth);
}

#leftMenuContent {
  height: 100%;
  width: var(--menuWidth);
  position: relative;
  text-align: center;
  float: right;
}

#appContent {
  display: flex;
}

#view {
  display: inline-block;
  position: relative;
  height: calc(100vh - var(--headerHeight));
  width: 100%;
  background-color: black;
  overflow: hidden;
}
#viewPort {
  position: absolute;
  height: calc(100% - var(--viewPortPadding) * 2);
  width: calc(100% - var(--viewPortPadding) * 2);
  padding: var(--viewPortPadding);
  overflow-y: scroll;
}