.singleLineInput {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
  border-bottom: solid paleturquoise 2px;
}

.singleLineInput::placeholder {
  color: lightgray;
}

.singleLineInput:focus:not(:read-only) {
  border-bottom: solid skyblue 2px;
}

.multiLineTextarea {
  border: solid paleturquoise 2px;
  resize: none;
  outline: none;
  background-color: transparent;
}

.multiLineTextarea:focus:not(:read-only) {
  border: solid skyblue 2px;
}

/** cover */
#portCover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}
#coverCover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

/** popup */
.popup {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 150px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}
.popupHeader {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.popupContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.popupFooter {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.popup .popupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid skyblue 3px;
  border-radius: 20px;
  margin: 10px;
}

/** FrontMostView */
.frontMostCover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.frontMostBoard {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.frontMostView {
  width: 100%;
  height: 100%;
}