<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- iOS用 アドレスバー非表示 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Android用 アドレスバー非表示 -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- ズーム不可 -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./client/css/index.css">
  <link rel="stylesheet" type="text/css" href="./client/css/ui.css">
  <title>LazyMan</title>
</head>
<body>
  <div id="header"></div>
  <div id="appContent">
    <div id="leftMenu" class="close"><div id="leftMenuContent"></div></div>
    <div id="view">
      <div id="viewPort"></div>
      <div id="portCover"></div>
      <div id="coverCover"></div>
    </div>
  </div>
</body>
<script type="text/javascript" src="./client/modules/_external/jquery/jquery-3.7.1.min.js"></script>
<script type="module" src="./client/index.js"></script>
</html>